
.rcorners2 {
    border-radius: 25px;
    border: 3px solid darkolivegreen;
    padding: 20px;
}

.rcorners1 {
    border-radius: 20px;
    border: 3px solid darkgoldenrod;
    padding: 2px;
}
.rcorners0 {
    border-radius: 20px;
    border: 1px solid darkgoldenrod;
    padding: 2px;
}
.Titulo {
    color: #D2B48C;
    font-family: 'Trebuchet MS';
    text-shadow: 2px 2px 5px black;
    padding-left:15px;
}
.BotonImagen {
    width:100px;
    height:100px;
}

.TextoEncabezado {
    color: tan;
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}
.GridNegra {
    border-radius: 20px;
    border: 1px solid darkgoldenrod;
    padding: 2px;
    background-color:black;
    opacity:0.55;
    color:tan;
    
}
.TextoNormal {
    color:tan;
    font-size:medium;
}

