body {
}
.rcorners2 {
    border-radius: 25px;
    border: 3px solid darkolivegreen;
    padding: 20px;
}

.rcorners1 {
    border-radius: 20px;
    border: 3px solid darkgoldenrod;
    padding: 2px;
}
.rcorners0 {
    border-radius: 20px;
    border: 1px solid darkgoldenrod;
    padding: 2px;
}
.Titulo {
    color: #D2B48C;
    font-family: 'Trebuchet MS';
    text-shadow: 2px 2px 5px black;
    padding-left:15px;
}
.BotonImagen {
    width:100px;
    height:100px;
}
